<!DOCTYPE html> 
<html> 
<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Joels Blegh</title> 

</head>
<body> 
  <div id="container">
    <div class="header">
    </div>

    {{#each action.actions }}
      {{#if github }}
        <h1> <a href="{{ actorLink }}">{{actor}}</a> {{action}} <a href="{{ itemLink }}">{{repo}}</a> </h1>
      {{/if}}
      {{#if twitter }}
        <h1> {{message}} </h1>
      {{/if}}
    {{/each}}

  </div>  
  
</body> 
</html>
