<!DOCTYPE html> 
<html> 
<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Joels Blegh</title> 
  <link href="/css/reset.css" rel="stylesheet" charset="utf-8">
  <link href="/css/main.css" rel="stylesheet" charset="utf-8">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
  <script src="/js/jquery-1.7.2.min.js"></script>
  <script src="/js/main.js"></script>

</head>
<body> 
  <div id="container">
    <div class="header">
      <h1 class="headline">Joel Klabo</h1>
      <h3 class="footline">thing person.</h1>
    </div>
    <div class="content">

    {{#each action.actions }}
      {{#if github }}
      <div class="item github">
          <div class="message-content">
            <img class="avatar" src="/images/github.png">
            <p class="message"> <a href="{{ actorLink }}">{{actor}}</a> {{action}} <a href="{{ itemLink }}">{{repo}}</a> </p>
          </div>
      </div>
      {{/if}}
      {{#if twitter }}
      <div class="item twitter" data-tweet-id="{{ id }}">
          <div class="message-content">
            <img class="avatar" src="/images/twitter.png">
            <p class="message"> {{{message}}} </p>
          </div>
      </div>
      {{/if}}
    {{/each}}

    </div>
    <div class="footer">
      <h3 class="footline">Made by <a href="https://twitter.com/joelklabo">@joelklabo</a></h1>
    </div>
  </div>  
  
</body> 
</html>
